## ---------------------------------------------------------------------------
## See the NOTICE file distributed with this work for additional
## information regarding copyright ownership.
##
## This is free software; you can redistribute it and/or modify it
## under the terms of the GNU Lesser General Public License as
## published by the Free Software Foundation; either version 2.1 of
## the License, or (at your option) any later version.
##
## This software is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
## Lesser General Public License for more details.
##
## You should have received a copy of the GNU Lesser General Public
## License along with this software; if not, write to the Free
## Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
## 02110-1301 USA, or see the FSF site: http://www.fsf.org.
## ---------------------------------------------------------------------------
#set ($discard = $xwiki.jsx.use('BookVersions.Code.LibrarySuggestPicker'))
#set($book = $services.bookversions.getVersionedCollectionReference($doc.documentReference))
#set($name = "keyReference")
#set($value = $doc.getValue($name))
#set($currentvalue = $doc.getValue($name))
#set($currentDoc = $xwiki.getDocument($currentvalue))
#if("$!{currentDoc.title}" == '')
  #set($displayvalue = $currentDoc.documentReference.parent.name)
#else
  #set($displayvalue = $currentDoc.title)
#end
<p>
<select class="suggest-libraries" size="1" name="${name}" id="${name}" book="$!escapetool.xml($book)"/>
 #if($currentvalue)
  <option id="$!escapetool.xml($currentvalue)" selected>$displayvalue</option>
 #end
</select>
</p>
